.container {
    display: flex;
    width: 960px;
    height: 960px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.square {
    /*width: 40px; /* width and height should be something like (vh/100 * x) - ie make the squares smaller/larger (FLEX!) based on amount*/
    border: 1px solid black;
    flex: 1 1 auto;
}